---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Marketing Website">
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>

  <h1>Marketing Website</h1>
</MainLayout>
